@media screen and (max-width: 960px){
    /* !header*/
    header a{
        font-size: 14px;
        padding: 15px 30px;
    }
    header a:hover{
        font-size: 15px;
        padding: 15px 35px;
       
    }
    /* !main content*/
    .main-navbar a{
        font-size: 15px;
    }
    .col{
        flex-basis: calc(100% / 4);
        margin-bottom: 20px;
    }
    h4{
        font-size: 18px;
    }
    /* !footer*/
    .current-song{
        justify-content: flex-start;
    }
    .name-current-song{
        margin-right: 35px;
        font-size: 15px;
    }
    .icon-controls *{
        font-size: 22px;
    }
    .icon-controls .fa-circle-play {
        font-size: 32px;
    }
    .icon-controls .fa-circle-play:hover{
        font-size: 36px;
        margin: -3px -2px;
    }
    .minutes-song{
        gap: 20px;  
    }
    .tot-volume{
        width: 10vw;
    }
}
@media screen and (max-width: 720px){
    /* !header*/
    header a{
        font-size: 13px;
        padding: 12px 27px;
    }
    header a:hover{
        font-size: 14px;
        padding: 15px 30px;  
    }
    /* !main content*/
    .main-navbar a{
        font-size: 14px;
    }
    h2{
        font-size: 26px;
    }
    .col{
        flex-basis: calc(100% / 2);
    }
    .main-content p{
        margin-top: 9px;
    }
    /* !footer*/
    .icons-current-song{
    flex-direction: column;
    gap: 5px;
    }
    .name-current-song{
        gap: 10px;
        margin-right: 25px;
    }
    .icons-current-song a{
        font-size: 14px;
    }
    .icon-controls {
        gap: 20px;
        
    }
    .icon-controls *{
        font-size: 20px;
    }
    .icon-controls .fa-circle-play {
        font-size: 30px;
        margin: 2px 1px;
    }
    .tot-minute{
        width: 25vw;   
    }
    .minutes-song p{
        font-size: 14px;
    }
    .volume-song{
        gap: 10px;
    }
    .volume-song a{
        font-size: 14px;
    }
    
}

@media screen and (max-width: 550px){
    /* !sidebar*/
    .logo-big{
        display: none;
    }
    .logo-sml{
        display: block;
        width: 40px;
        margin: 10px 0 20px 5px;
    }
    .homepage a:last-child, .search a:last-child, .library a:last-child, h3, .down-list, .download a:last-child, .user a:last-child{
        display: none;
    }
    .download{
        border-style: none; 
    }
    .sidebar{
        width: 60px;
        padding: 5px;
    }
    .profile{
        margin-top: 520px
    }

    .homepage, .search, .library, .download, .user{
        justify-content: center;
    }
    .side-selected{
        display: none;
    }
    /* !header*/
    header a{
        padding: 10px 25px;
        border-radius: 25px;
        font-size: 11px;
    }
    header a:hover{
        font-size: 13px;
        padding: 13px 28px;  
    }
    /* !main*/
    main{
        margin-left: 60px;   
    }
    .main-navbar a{
        font-size: 12px;
    }
    h2{
        font-size: 22px;
        margin-bottom: 15px;
    }
    h4{
        font-size: 15px;
    }
    .playlist-created > p, .popular-artist > p{
        font-size: 12px;
    }
    /* !footer*/
    .song-panel{
        padding: 0 10px;
        gap: 15px; 
    }
    .name-current-song img{
        width: 40px;
    }
    .name-current-song{
        margin-right: 5px;
    }
    .info-current-song a{
        font-size: 11px;
    }
    .info-current-song p{
        font-size: 12px;
    }
    .minutes-song p{
        font-size: 11px;
    }
    .minutes-song{
        gap: 10px;  
    }
    .tot-minute{
        width: 20vw;   
    }
    .tot-volume{
        width: 15vw;
    }
}


/*media query bonus*/

@media screen and (max-width: 420px){
    /*!main content*/
    header{
        height: 80px;
    }
    .col{
        flex-basis: 100%;
    }
    /*!footer*/
    .current-song{
        display: none;
    }
    .controls-song{
        margin-left: 20px;
    }
    .icon-controls{
        gap: 35px;
    }
    .tot-minute{
        width: 60vw;
    }

    .volume-song .fa-list-ul, .volume-song .fa-desktop{
        display: none;
    }

    .volume-song{
        flex-direction: column-reverse;
        max-height: 80px;
        margin-bottom: 0;
        justify-content: center;
    }
    .tot-volume{
        transform: rotate(270deg);
        margin-top: 42px;
        margin-left: 0;
        margin-bottom: -11px;
        width: 12vw;
    }
    .fa-volume-high{
        margin-top: 32px;
        margin-left: 0;
    }
}


