/* css reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    background-color: #141922;
    color: #fff;
}

img{
    width: 100%;
}

footer{
    height: 100px;
    background-color: #282828;
}

h2{
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 32px;
}

h3{
    margin: 20px 0;
}

h4{
    font-size: 20px;
}

header{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

main{
    margin-left: 250px;
    
}

ul{
    list-style-type: none;
}
li *{
    color: #7B7E82;
}

a{
    text-decoration: none;
}


/* Utils */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clr-white{
    color: white;
}
.clr-gray{
    color: #707377;
}


.top-content{
    height: calc(100vh - 100px);
    overflow: auto;
    
}

/*SIDEBAR*/

.sidebar{
    width: 250px;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 100px;
    padding: 25px;
}

.sidebar p{
    color: white;
}

.logo-big{
    width: 70%;
    display: block;
    margin-bottom: 30px;
}

.logo-sml{
    display: none;
}

.sidebar ul li{
    margin-bottom: 20px;
}

.homepage, .search, .library{
    display: flex;
    align-items: center;
}
.upper-list img{
    width: 30px;
}
.fa-plus{
    color: #000;
    font-weight: 900;
    font-size: 22px;
    padding: 8px;
    background-color: #fff;
}

.download img{
    width: 20px;
}

.download a{
    color: #707377;
    margin-bottom: 10px;
}
.download{
    display: flex;
    border-bottom: 1px solid #707377;
    gap: 10px;
}

.user{
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}

.user img{
    width: 30px;
    background-color: #707377;
    border-radius: 50%;
}

.user a{
    color: #fff;
}

.profile{
    margin-top: 140px;
}

/*HEADER*/
header a{
    padding: 15px 40px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
}

/*MAIN CONTENT*/

.main-content{
    padding: 0 10px;
}

.main-content p{
    color: #707377;
    margin-top: 10px;
}

.main-navbar{
    margin-top: 20px;
    margin-bottom: 40px;
}

.recently{
    padding-right: 10px;
}

.main-navbar ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.col{
    flex-basis: calc(100% / 6);
    padding: 0 10px;
}

.card-text{
    text-align: center;
    margin-top: 20px;
}

.card-text p{
    font-size: 14px;
}

.recently, .playlist-created, .popular-artist{
    margin-bottom: 50px;
}

.playlist-created > p, .popular-artist > p{
    margin-left: 10px;
    margin-bottom: 40px;
}

.popular-artist img{
    border-radius: 50%;
}

.card-image{
    position: relative;
}

/*footer*/
.song-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    gap: 20px;
    width: 100vw;
}

.name-current-song img{
    width: 50px;
}

.current-song{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-current-song{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 50px;
}

.icons-current-song{
    display: flex;
    gap: 15px;
}


/*controls*/

.controls-song{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minutes-song{
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.icon-controls {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
    
}
.icon-controls *{
    font-size: 24px;
}
.icon-controls .fa-circle-play {
    font-size: 34px;
}


.tot-minute{
   width: 30vw; 
   height: 4px;
   border: 1px solid;
   background-color: #707377;
   
}
.current-minute{
    width: 20%;
    border: 1px solid;
}

/*volume*/

.tot-volume{
    width: 8vw; 
    height: 4px;
    border: 1px solid;
    background-color: #707377;
    
}
.current-volume{
     width: 20%;
     border: 1px solid;
}

.volume-song{
    display: flex;
    align-items: center;
    gap: 15px;
}


/*HOVER EFFECT*/

/*header hover*/
header a:hover{
    font-size: 18px;
    padding: 15px 50px;
    border-radius: 35px;
    margin: -5px -5px;
}

/*sidebar hover*/
.sidebar a:hover{
    color: #fff;
}

/*main hover*/

.main-content li > a:hover{
    color: #fff;
}

/*footer hover*/
.info-current-song a:hover{
    color: #fff;
    text-decoration: underline;
}

.fa-heart:hover{
    color: #fff;
}
.fa-folder:hover{
    color: #fff;
}

.icon-controls .fa-circle-play:hover{
    font-size: 38px;
    margin: -3px -2px;
}

.minutes-song .tot-minute:hover .current-minute{
    border-color: yellowgreen;
}

.volume-song .tot-volume:hover .current-volume{
    border-color: yellowgreen;
}


